<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Formule</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/presidents" mdbWavesEffect>البطاقة الشخصية</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/presidents/graphs" mdbWavesEffect>المبيانات</a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->