<div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card testimonial-card" style="max-width: 22rem;">

        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
            <img src="{{student.image}}" width="200" height="200" class="rounded-circle"
                 alt="student avatar">
        </div>

        <!-- Content -->
        <div class="card-body">
            <!-- Name -->
            <h4 class="card-title">{{student.nom}} {{student.prenom}}</h4>
            <hr>
            <!-- Quotation -->
            <p>{{student.massar}}</p>
            <p>{{student.sexe}}</p>
            <p>{{student.dateNaissance}}</p>
            <p>{{student.adresse}}</p>
        </div>

    </div>
    <!-- Card -->

</div>